<html>
<head>
    <meta charset="UTF-8">
    <title>Notas de Alunos</title>
</head>
<body>
    <h1>Notas de Alunos</h1>
    <table>
        <thead>
            <tr>
                <th>ID do Aluno</th>
                <th>Nota P1</th>
                <th>Nota P2</th>
                <th>Media das Listas</th>
                <th>Media Final</th>
            </tr>
        </thead>
        <tbody>
            {% for nota in notas %}
            <tr>
                <td>{{ nota.aluno_id }}</td>
                <td>{{ nota.notap1 }}</td>
                <td>{{ nota.notap2 }}</td>
                <td>{{ nota.medialistas }}</td>
                <td>{{ nota.mediafinal }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button onclick="window.location.href='/cadnotas'">Cadastrar Nota</button>
</body>
</html>