<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    <title>Notas de Alunos</title>
</head>
<nav id='nav-bar'> 
    <ul id="nav-list">
        <a href="/cadnotas">
        <li>
            Insira notas
        </li>
        </a>
        <a href="/home">
        <li>
            Visualize notas
        </li>
        </a>
        <a href="/login">
            <li>
                Login
            </li>
        </a>
    </ul>
</nav>
<body>
    <section id="mainpage">
    <h1>Notas de Alunos</h1>
    <table>
        <thead>
            <tr>
                <th>ID do Aluno</th>
                <th>Nota P1</th>
                <th>Nota P2</th>
                <th>Media das Listas</th>
                <th>Media Parcial</th>
                <th>Situacao</th>
            </tr>
        </thead>
        <tbody>
            {% for nota in notas %}
            <tr>
                <td>{{ nota.aluno_id }}</td>
                <td>{{ nota.nota_p1 }}</td>
                <td>{{ nota.nota_p2 }}</td>
                <td>{{ nota.media_listas }}</td>
                <td>{{ nota.media_parcial }}</td>
                <td>{{ nota.situacao }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button onclick="window.location.href='/cadnotas'">Cadastrar Nota</button>
</section>
</body>
</html>